VITE_SUPABASE_PROJECT_ID=cxjyteduzbmodzdxmxxi
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4anl0ZWR1emJtb2R6ZHhteHhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwOTYwMDIsImV4cCI6MjA4OTY3MjAwMn0.Uj_qhvslFQkgI4dMPYYIFsMZrv1RE1KICpCgIBglDQU
